.subHeaderDiv{
    padding: 1%;
}
.input-group{
    margin-top: 10px;
}

.contactSec{
    /* margin-left: 40%; */
    line-height: 10px;
    font-weight: bold;
    text-align: center;
}

.searchInput{
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    background-clip: padding-box;
    width: 50%;
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius:5px;
    box-sizing: border-box;
    box-decoration-break: slice;
    font-family: 'Questrial', sans-serif;
    outline: none;
}