.header{
    background-color: #f9f6f4;
    padding-top: 1%;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    color: #b24e56;
}

.popup_content{
    font-size: 12px;
    color: grey;
    display: flex;
    align-items: center;
    padding: 2%;
}

.popup_content b{
    font-weight: bolder !important;
}

.add_cartbtn{
    background-color: #b24e56 !important;
    width: 80% !important;
    color: white !important;
    margin-top: 10px !important;
}
