.loginInput{
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    background-clip: padding-box;
    width: 90%;
    border: 1px solid #e0e0e0;
    padding: 2%;
    border-radius:2px;
    box-sizing: border-box;
    box-decoration-break: slice;
    font-family: 'Questrial', sans-serif;
}

.loginHeading{
    font-family: 'Questrial', sans-serif;
    color: #b24e56 !important;
    font-size: 30px;
    text-align: center;
}

.login_div{
    box-shadow: 1px 1px 3px 2px rgb(212, 209, 209);
    width: 70%;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
}

.login_image_sec{
    /* background-color: rgb(218, 216, 216); */
    /* width: 100%; */
}




@media only screen and (max-width: 800px) {

    .loginImagePart{
      display: none !important;
    }
    .login_div{
        box-shadow: 1px 1px 3px 2px rgb(212, 209, 209);
        width: 90%;

    }
  }